# ROS2 빌드 관련 디렉토리
build/
install/
log/
backup/

# src 내 기타 패키지들
src/openarm_mujoco/
src/openarm_mujoco_hardware/
src/quest/

# 기타 파일들
moveit2_tutorials/
moveit_servo/
openarm_기록/
quest_get_pose.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo
*~


src/openarm_servo/launch/servo_both.launch.py
src/openarm_servo/openarm_servo/keyboard_servo_both.py